*{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}
header{
  background: url(https://cdn.pixabay.com/photo/2017/12/10/20/56/feather-3010848__340.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{
  float: right;
  list-style-type: none;
  margin-top: 20px;
}
ul li{
  display: inline-block;
  text-decoration: none;
}
ul li a{
  text-decoration: none;
  color: black;
  padding-left: 5px 20px;
  font-size: 30px;
  border: 1px solid black;
  transition: .5s;
}
ul li a:hover{
  background: pink;
  color: green;
}
.main{
  max-width: 100%;
  margin: auto;
}
.logo h1{
  width: 150px;
  margin-top: 30px;
  border: 3px solid black;
  background: teal;
  align-items: center;
  font-size: 20px;
  height: auto;
  float: left;
}
.title{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(-50%,-80%);
}
.title h1{
  font-size: 50px;
  border: 2px solid grey;
  color: Blue;
  font-style: italic;
  font-weight: 900;
}
.button{
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translateY(-50%,-80%);
}
span{
  font-size: 20px;
}
.btn{
  border: 1px solid black;
  padding: 10px 30px;
  font-size: 10px;
  background: green;
  color: white;
  text-decoration: none;
}
.btn:hover{
  background-color: teal;
  color: sky-blue;
}
